h1 {
    color: red
}
h2 {
    color: #ffa500
}
h3 {
    color: #ffee00
}
h4 {
    color:rgb(0, 255, 0)
}
h5{
    color:rgb(0, 0, 255)
}
h6 {
    color: rgba(61, 0, 117, 0.75)
}
p {
    color: rgba(200, 0, 200, 1)
}
